{% extends "base.html" %}
{% block content %}
<style>
    .text-red { color: red; font-weight: bold; }
    .text-black { color: black; font-weight: bold; }
</style>

<h1>Raport: {{ student.nume }} {{ student.prenume }}</h1>

<table class="table table-bordered">
    <thead>
        <tr><th>Materia</th><th>Examen</th><th>Lab</th><th>Medie Finală</th><th>Detalii</th></tr>
    </thead>
    <tbody>
        {% for s in situatie %}
        <tr>
            <td>{{ s.nume }}</td>
            <td class="{{ 'text-red' if s.nota_exam == '-' else 'text-black' }}">{{ s.nota_exam }}</td>
            <td class="{{ 'text-red' if s.media_lab == '-' else 'text-black' }}">{{ s.media_lab }}</td>
            <td class="{{ 'text-red' if s.medie_finala == 'Incomplet' else 'text-black' }}">{{ s.medie_finala }}</td>
            <td><small>{{ s.pondere }}</small></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}